@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(360deg, #1d282a, #38585d);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #f1f1f1;
    font-family: sans-serif;
}
.titulo-text{
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 4em;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}

img{
    width: 100%;
    border: 5px solid #fff;
}
.sub-titulo{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-heart{
    width: 90%;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    text-align: start;
}
h5, .heart{
    color: #8b999c;
}
#progress-container{
    padding-bottom: 1em;
}
.barra{
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    background-color: #8b999ca1;
    border-radius: 15px;
    height: 3px;
    width: 100%;
}
#current-progress{
    --progress: 0%;
    width: var(--progress);
    height: inherit;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 15px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}
.play, .pause{
    font-size: 50px;
}
.ativo {
    display: none;
}
i{
    cursor: pointer;
    transition: .3s;
}
i:hover{
    color: #bd5806fa;
    
}

@media screen and (min-width:768px) and (max-width:992px){

}
@media screen and (min-width:993px) and (max-width:1200px){
    img{
        margin-top: 80px;
        width: 50%;
    }
}
@media screen and (min-width:1200px) {
    img{
        margin-top: 80px;
        width: 30%;
    }
    .text-heart{
        width: 100%;
        margin-top: 7px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
    }
}
